%tr
  %td.history_user
    =history.user.nickname
  %td.history_taken
    =history.taken_in.strftime('%v')
  %td.history_returned
    -if history.returned_in.present?
      =history.returned_in.strftime('%v')
